# GitIgnore for Omni Rust workspace
# Compiled binary files
/target/
/CACHE.DIR.TAG
*.db
*.tfm
*.lot
# Cargo and Rust
/target/**
tests/fuzz/target/
/.cargo/
# IDE and tooling
/.idea/
/*.History/
/*.settings/
/*.classpath
/.project
/bin/
# Windows-specific
/TMPDIR

